﻿@{
    ViewBag.Title = "Bank of Evil";
}


<div style="width: 100%;">
    <div style="float:left; width: 40%">
        <h2>@ViewBag.Title.</h2>
        <br />
        <h3>@ViewBag.Message</h3>
        <p>The Bank of Evil is a bank exclusively for supervillains. It is owned by Mr. Perkins and can only be entered through a secret eye scanner in one of the bank's urinals. In a recent update of Minion Rush, this bank serves as the secret area of the downtown area.</p>
    </div>
    <div style="float:right;">
        <br />
        <img src="@Url.Content("http://vignette2.wikia.nocookie.net/despicableme/images/3/30/Picture.jpg-2012-12-28-at-15.04.53-640x351.jpg/revision/latest?cb=20131020204017")" width="680" height="500">
    </div>
</div>